DEBUG=True
SECRET_KEY='django-insecure-vaho)5$#k14c!fe6g1dgk-az&$@m*bjbu5)e+=amw)%-$nl95+'
ALLOWED_HOSTS=*

POSTGRES_DB=openfac
POSTGRES_USER=openfac
POSTGRES_PASSWORD=openfac
POSTGRES_HOST=db
POSTGRES_PORT=5432