{% load static %}
<nav class="navbar navbar-light navbar-vertical navbar-expand-xl">
    <script>
        var navbarStyle = localStorage.getItem("navbarStyle");
        if (navbarStyle && navbarStyle !== "transparent") {
            document
                .querySelector(".navbar-vertical")
                .classList.add(`navbar-${navbarStyle}`);
        }
    </script>
    <div class="d-flex align-items-center">
        <div class="toggle-icon-wrapper">
            <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Toggle Navigation">
                <span class="navbar-toggle-icon"><span class="toggle-line"></span></span>
            </button>
        </div>
        <a class="navbar-brand" href="#">
            <div class="d-flex align-items-center py-3">
                <img class="img me-3 mode-switchable"
                     src="{% static 'assets/img/icons/logo_alalake2.png' %}"
                     alt=""
                     width="150"
                     data-light-src="{% static 'assets/img/icons/iconalalake.png' %}"
                     data-dark-src="{% static 'assets/img/icons/logo_alalake2.png' %}" />
                {% comment %} <span class="font-sans-serif ala-text">ALALAKE</span> {% endcomment %}
            </div>
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
        <div class="navbar-vertical-content scrollbar">
            <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav">
                <li class="nav-item">
                    <div class="d-flex px-0 py-1">
                        <div class="avatar avatar-xl">
                            <img class="rounded-circle"
                                 src="{% if request.session.sub_shop.logo %} {{ request.session.sub_shop.logo }} {% else %} {% static 'assets/img/illustrations/ecommerce-bg.png' %} {% endif %} "
                                 alt="" />
                        </div>
                        <div class="flex-1 chat-contact-body w-100 ms-2 d-lg-block">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="mb-0" style="color: #fff;">{{ request.session.sub_shop.name }}</h5>
                            </div>
                        </div>
                    </div>
                </li>
                <hr class="mb-3 navbar-vertical-divider" />
                <li class="nav-item">
                    <!-- parent pages-->
                    <a class="nav-link {% if request.session.is_admin_shop %}dropdown-indicator{% endif %} "
                       href="#myagencies"
                       role="button"
                       data-bs-toggle="collapse"
                       aria-expanded="false"
                       aria-controls="myagencies">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-text ps-1">{{ request.session.shop.name }}</span>
                        </div>
                    </a>
                    <ul class="nav collapse" id="myagencies">
                        {% if request.session.is_admin_shop %}
                            {% for shop in request.session.related_shops %}
                                <li class="nav-item">
                                    <a class="nav-link"
                                       href=""
                                       data-bs-toggle=""
                                       aria-expanded="false">
                                        <div class="d-flex align-items-center">
                                            <span class="nav-link-text ps-1">{{ shop.name }}</span>
                                        </div>
                                    </a><!-- more inner pages-->
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item">
                    <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                        <div class="col-auto navbar-vertical-label">Accueil</div>
                        <div class="col ps-0">
                            <hr class="mb-0 navbar-vertical-divider" />
                        </div>
                    </div>
                    <!-- parent pages-->
                    <a class="nav-link active"
                       href=""
                       role="button"
                       aria-expanded="false">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="20"
                                     height="20"
                                     viewBox="0 0 24 24">
                                    <path fill="currentColor" d="M4 21V9l8-6l8 6v12h-6v-7h-4v7z" />
                                </svg>
                            </span>
                            <span class="nav-link-text ps-1">Accueil</span>
                        </div>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>
