{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row g-3 mb-1 mt-1 m-auto" id="content">
    <div class="row w-100 px-0 mx-0">
        <div class="card">
            <div class="bg-holder d-none d-lg-block bg-card"
                style="background-image: url({% static 'assets/img/icons/spot-illustrations/corner-4.png' %})">
            </div>
            <!--/.bg-holder-->
            <div class="card-body position-relative">
                <div class="row">
                    <div class="col-lg-8">
                        <h4 class="p-0">
                            <span class="nav-link-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2">
                                        <path d="M18 21a8 8 0 0 0-16 0" />
                                        <circle cx="10" cy="8" r="5" />
                                        <path d="M22 20c0-3.37-2-6.5-4-8a5 5 0 0 0-.45-8.3" />
                                    </g>
                                </svg>

                            </span>
                            <span class="text-center p-0 mb-0 mt-3 h-100">Client</span>
                        </h4>
                    </div>
                    <div class="col-lg-4">
                        <div id="bulk-select-replace-element">
                            <button class="btn btn-falcon-primary btn-sm" type="button" data-bs-toggle="modal"
                                data-bs-target="#add_customer"><span class="fas fa-plus" style="color : #2c7be5;"
                                    data-fa-transform="shrink-3 down-2"></span><span class="ms-1"
                                    style="color : #2c7be5;">Ajouter un
                                    nouvel administrateur</span>
                            </button>
                        </div>
                    </div>
                    {% comment %}
                    <div class="col-lg-4"></div>
                    {% endcomment %}
                </div>
            </div>
        </div>
    </div>

    <!-- parametrage -->
    <div class="tab-content p-1">
        <div class="tab-pane fade show active py-0 px-0" id="" role="" aria-labelledby="">
            <div class="card shadow-none py-0 px-0 border-top">
                <div class="card-body p-0 pb-3">
                    <div class="row my-2">
                        <div class="col-md-6 ">
                            <form class="position-relative search-boxs my-3 mx-3"><input
                                    class="form-control search-inputs" type="search" placeholder="Recherche..."
                                    aria-label="Search" id="searchInput" />
                                <span class="fas fa-search search-box-icon"></span>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex align-items-center justify-content-end my-3 mx-3">

                                <div class="d-none ms-3" id="bulk-select-actions">
                                    <div class="d-flex">
                                        <select class="form-select form-select-sm" aria-label="Bulk actions">
                                            <option selected="selected">Actions groupées</option>
                                            <option value="Delete">Supprimer</option>
                                            <option value="Archive">Archiver</option>
                                        </select>
                                        <button class="btn btn-falcon-danger btn-sm ms-2"
                                            type="button">Appliquer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive scrollbar">
                        <table class="table mb-0">
                            <thead class="text-black ">
                                <tr>
                                    <th class="align-middle white-space-nowrap">
                                        <div class="form-check mb-0"><input class="form-check-input" type="checkbox"
                                                data-bulk-select='{"body":"bulk-select-body","actions":"bulk-select-actions","replacedElement":"bulk-select-replace-element"}' />
                                        </div>
                                    </th>

                                    <th class="align-middle">NOM</th>
                                    <th class="align-middle">E-MAIL</th>
                                    <th class="align-middle">Telephone</th>
                                    <th class="align-middle">Adresse</th>
                                    <th class="align-middle white-space-nowrap pe-3">STATUT</th>
                                    <th class="align-middle white-space-nowrap pe-3">ACTIONS</th>
                                </tr>
                            </thead>
                            <tbody id="bulk-select-body" class="customer_list">
                                {% if customers %}
                                {% for customer in customers %}
                                <tr>
                                    <td class="align-middle white-space-nowrap">
                                        <div class="form-check mb-0"><input class="form-check-input" type="checkbox"
                                                id="checkbox-{{ customer.id }}"
                                                data-bulk-select-row="data-bulk-select-row" /></div>
                                    </td>
                                    <td class="align-middle">{{ customer.name }}</td>
                                    <td class="align-middle">{{ customer.email }}</td>
                                    <td class="align-middle">{{ customer.phone }}</td>
                                    <td class="align-middle">{{ customer.address }}</td>
                                    <td class="align-middle">
                                        <span class="badge bg-success"> {{ customer.customer_type }}</span>
                                    </td>
                                    
                                    <td class="align-middle white-space-nowrap text-end pe-3">
                                        <div class="d-flex align-items-center">
                                            <button
                                                class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal dropdown-caret-none"
                                                id="email-options" type="button" data-bs-toggle="dropdown"
                                                data-boundary="viewport" aria-haspopup="true" aria-expanded="false">
                                                <span class="fas fa-ellipsis-v" data-fa-transform="down-2"></span>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-end border py-2"
                                                aria-labelledby="email-options">
                                                <button class="dropdown-item btn-detail" type="button"
                                                    data-id="{{ customer.id }}"
                                                >
                                                    <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="20"
                                                        height="20" viewBox="0 0 24 24">
                                                        <path fill="#665e5e"
                                                            d="M12 9.75a2.25 2.25 0 1 0 0 4.5a2.25 2.25 0 0 0 0-4.5" />
                                                        <path fill="#665e5e" fill-rule="evenodd"
                                                            d="M12 5.5c-2.618 0-4.972 1.051-6.668 2.353c-.85.652-1.547 1.376-2.036 2.08c-.48.692-.796 1.418-.796 2.067s.317 1.375.796 2.066c.49.705 1.186 1.429 2.036 2.08C7.028 17.45 9.382 18.5 12 18.5s4.972-1.051 6.668-2.353c.85-.652 1.547-1.376 2.035-2.08c.48-.692.797-1.418.797-2.067s-.317-1.375-.797-2.066c-.488-.705-1.185-1.429-2.035-2.08C16.972 6.55 14.618 5.5 12 5.5M8.25 12a3.75 3.75 0 1 1 7.5 0a3.75 3.75 0 0 1-7.5 0"
                                                            clip-rule="evenodd" />
                                                    </svg>
                                                    Détail
                                                </button>
                                                <div class="dropdown-divider"></div>
                                                <button class="dropdown-item btn-edit" type="button"
                                                    data-id="{{ customer.id }}"
                                                   >
                                                    <svg class='me-2' xmlns="http://www.w3.org/2000/svg" width="20"
                                                        height="20" viewBox="-2 -2 24 24">
                                                        <path fill="#665e5e"
                                                            d="m5.72 14.456l1.761-.508l10.603-10.73a.456.456 0 0 0-.003-.64l-.635-.642a.443.443 0 0 0-.632-.003L6.239 12.635zM18.703.664l.635.643c.876.887.884 2.318.016 3.196L8.428 15.561l-3.764 1.084a.9.9 0 0 1-1.11-.623a.9.9 0 0 1-.002-.506l1.095-3.84L15.544.647a2.215 2.215 0 0 1 3.159.016zM7.184 1.817c.496 0 .898.407.898.909a.903.903 0 0 1-.898.909H3.592c-.992 0-1.796.814-1.796 1.817v10.906c0 1.004.804 1.818 1.796 1.818h10.776c.992 0 1.797-.814 1.797-1.818v-3.635c0-.502.402-.909.898-.909s.898.407.898.91v3.634c0 2.008-1.609 3.636-3.593 3.636H3.592C1.608 19.994 0 18.366 0 16.358V5.452c0-2.007 1.608-3.635 3.592-3.635z" />
                                                    </svg>
                                                    Modifier
                                                </button>
                                                
                                                <div class="dropdown-divider"></div>
                                                <button class="dropdown-item btn-delete" type="button"
                                                    data-id="{{ customer.id }}"
                                                    data-full_name="{{ customer.user.first_name }} {{ customer.user.last_name }}">
                                                    <svg class='me-2' xmlns="http://www.w3.org/2000/svg" width="20"
                                                        height="20" viewBox="0 0 24 24">
                                                        <path fill="#665e5e"
                                                            d="M19 4h-3.5l-1-1h-5l-1 1H5v2h14M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6z" />
                                                    </svg>
                                                    Supprimer
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <ul class="pagination">

                            {% if customers.has_previous %}
                            <li class="page-item">
                                <a class="page-link btn btn-outline-secondary me-1" href="?page=1"
                                    aria-label="Previous">
                                    <span aria-hidden="true">&laquo; &laquo;</span>
                                </a>
                            </li>
                            {% endif %}

                            {% if customers.has_previous %}
                            <li class="page-item">
                                <a class="page-link btn btn-outline-secondary me-1"
                                    href="?page={{ customers.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% endif %}
                            {% if customers.paginator.num_pages > 1 %}
                            {% for num in customers.paginator.page_range %}
                            <li class="page-item {% if customers.number == num %}active{% endif %}">
                                <a class="page-link btn btn-outline{% if customers.number == num %}-primary {% else %}-secondary{% endif %} me-1"
                                    href="?page={{ num }}">{{ num }}</a>
                            </li>
                            {% endfor %}
                            {% endif %}

                            {% if customers.has_next %}
                            <li class="page-item">
                                <a class="page-link btn btn-outline-secondary me-1"
                                    href="?page={{ customers.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {% endif %}

                            {% if customers.has_next %}
                            <li class="page-item">
                                <a class="page-link btn btn-outline-secondary"
                                    href="?page={{ customers.paginator.num_pages }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo; &raquo;</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% include 'components/customer/add_modal.html' %}
    </div>
</div>
{% endblock content %}
{% block custom_js %}
<script src="{% static 'js/customer.js' %}" type="text/javascript"></script>
{% endblock custom_js %}