{% load static %}
<!doctype html>
<html lang="fr">

<head>
	<title>Formulaire de connexion</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'assets/css/style2.css' %}">

</head>

<body class="img js-fullheight"
	style="background-image: url(https://images.unsplash.com/photo-1764231467852-b609a742e082?q=80&w=721&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">

	<section class="ftco-section">

		<div class="container">

			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<img class="me-2" src="{% static 'assets/img/icons/spot-illustrations/falcon.png' %}" alt="Logo" width="80" />
				</div>
			</div>

			<div class="row justify-content-center">

				<div class="col-md-6 col-lg-4">
					{% if message %}
						<div class="alert alert-danger border-2 d-flex align-items-center"
								role="alert">
							<div class="bg-danger me-3 icon-item">
								<span class="fas fa-times-circle text-white fs-3"></span>
							</div>
							<p class="mb-0 flex-1">
								<strong class="fw-bold">OUPS!!</strong> {{ message }}
							</p>
							<button class="btn-close"
									type="button"
									data-bs-dismiss="alert"
									aria-label="Close"></button>
						</div>
					{% endif %}
					<div class="login-wrap p-0">

						<h3 class="mb-4 text-center">Vous avez déjà un compte ?</h3>

						<form action="{% url 'users:login' %}" method="POST">
                            {% csrf_token %}
							<!-- Nom d'utilisateur -->
							<div class="form-group">
								<input type="text" class="form-control" name="login" placeholder="Identifiant" required>
							</div>

							<!-- Mot de passe -->
							<div class="form-group">
								<input id="password-field" type="password" name="password" class="form-control"
									placeholder="Mot de passe" required>

								<span toggle="#password-field"
									class="fa fa-fw fa-eye field-icon toggle-password"></span>
							</div>

							<!-- Bouton -->
							<div class="form-group">

								<button type="submit" style="background-color: #4DDAEE;"
									class="form-control btn submit px-3">

									Se connecter

								</button>

							</div>

							<!-- Remember me -->
							<div class="form-group d-md-flex">

								<div class="w-50">

									<label class="checkbox-wrap checkbox-primary">

										Se souvenir de moi
										<input type="checkbox" checked>
										<span class="checkmark"></span>

									</label>

								</div>

								<div class="w-50 text-md-right">

									<a href="Mot_de_passe_oublié.html" style="color: #fff">
										Mot de passe oublié ?
									</a>

								</div>

							</div>

							<!-- Lien inscription -->
							<div class="form-group text-center mt-3">

								<p style="color:#fff;">

									Vous n'avez pas encore de compte ?

									<a href="inscription.html" style="color:#fff; font-weight:bold;">
										S'inscrire
									</a>
								</p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'vendors/jquery/jquery.js' %}"></script>
	<script src="js/popper.js"></script>
	<script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
	<script>
        (function($) {

            "use strict";

            var fullHeight = function() {

                $('.js-fullheight').css('height', $(window).height());
                $(window).resize(function(){
                    $('.js-fullheight').css('height', $(window).height());
                });

            };
            fullHeight();

            $(".toggle-password").click(function() {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
            });

        })(jQuery);

    </script>

</body>

</html>