{% load static %}
<!doctype html>
<html lang="fr">

<head>
    <title>Inscription - OpenFact</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/style2.css' %}">
</head>


<body class="img js-fullheight"
    style="background-image: url(https://images.unsplash.com/photo-1763729868283-2fa2d8ffe33b?q=80&w=723&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); backdrop-filter: blur(6px);">


    <section class="ftco-section">

        <div class="container">

            <!-- Logo -->
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <img class="me-2" src="{% static 'assets/img/icons/spot-illustrations/falcon.png' %}" alt="Logo" width="80" />
				</div>
            </div>


            <div class="row justify-content-center">

                <div class="col-md-12 col-lg-8">

                    <div class="login-wrap p-0">


                        <h3 class="mb-4 text-center">Créer un compte</h3>
                        {% if messages %}
                        <div class="container mt-3">
                            {% for message in messages %}
                            <div class="alert 
                                {% if message.tags == 'error' %}alert-danger
                                {% elif message.tags == 'success' %}alert-success
                                {% else %}alert-info
                                {% endif %}
                                alert-dismissible fade show" role="alert">

                                {{ message }}

                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <form action="{% url 'users:register' %}" method="POST" class="signin-form">
                            {% csrf_token %}

                            <!-- ENTREPRISE -->
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <input type="text" name="company_name" class="form-control" placeholder="Nom de l'entreprise" required>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="company_address" class="form-control" placeholder="Adresse de l'entreprise" required>
                                </div>
                            </div>

                            <hr class="bg-white">

                            <!-- GERANT -->
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <input type="text" name="first_name" class="form-control" placeholder="Prénom du gérant" required>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="last_name" class="form-control" placeholder="Nom du gérant" required>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <input type="email" name="email" class="form-control" placeholder="Adresse email" required>
                                </div>
                                <div class="col-md-6">
                                    <input type="tel" name="phone" class="form-control" placeholder="Téléphone" required>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <input type="password" name="password1" class="form-control" placeholder="Mot de passe" required>
                                </div>
                                <div class="col-md-6">
                                    <input type="password" name="password2" class="form-control" placeholder="Confirmer le mot de passe" required>
                                </div>
                            </div>

                            <button type="submit" class="form-control btn submit px-3 mt-3" style="background-color:#4DDAEE;">S’inscrire</button>
                        </form>
                        <!-- Lien login -->
							<div class="form-group text-center mt-3">

								<p style="color:#fff;">
									Vous avez un compte ?
									<a href="{% url 'users:login' %}" style="color:#fff; font-weight:bold;">
										Se connecter
									</a>
								</p>
							</div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <script src="{% static 'vendors/jquery/jquery.js' %}"></script>
	<script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
</body>

</html>